#title{
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  font-weight: normal;
}
.flex-wrapper{
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.container{
  display: flex;
  justify-content: center;
}

.container-input form{
  display: flex;
  justify-content: center;
}

.dropzone-wrapper{
  display: flex;
  justify-content: center;
  /* align-items: stretch; */
  align-self: stretch;
  height: 300px;
}

#my-dropzone{
  flex-grow: 1;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;

}

.dragenter{
  background-color: #2ecc71;
  opacity: 0.3;
}

#dropzone{
  height: 150px;
  width: 150px;
  box-shadow: 0px 0px 2px 2px gray;
  position: relative;
  z-index: 2;
}

#dropzone:before{
  content: "\f0ee";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  font-size: 100px;
  opacity: 0.2;
  position: absolute;
  left: 20px;
  top: 20px;
  z-index: 1;
}

#route{
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-color: coral;
  border-right-style: none;
  display: none;
  width: 200px;
  height: 20px;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
}

#submit{
  background-color: transparent;
  border: 2px solid black;
  border-radius: 0px;
  display: none;
  padding: 10px 10px 10px 10px;
  font-size: 18px;
}

.dropped{
  border-style: dashed;
}

.footer-wrapper{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 30vh;
  position: relative;
}

#footer{
  position:absolute;
  height: 150px;
  width: 100%;
  background-color: black;
  position: absolute;
  display: flex;
  top: 100px;
  transition: all 1s;
}

#footer:hover{
  top: 50px;
}

.directory{
  position: relative;
  height: 120px;
  width: 120px;
}

.close{
  display: none;
  position: absolute;
  left: 100px;
  color: white;
  height: 15px;
  width: 15px;
  border: 3px solid white;
  border-radius: 50%;
  padding: 5px 5px 10px 10px;
}

.name{
  position: absolute;
  left: 30px;
  top: 95px;
  color: white;
}

.file{
  position: relative;
  height: 120px;
  width: 120px;
}

img{
  position: absolute;
  left: 10px;
  height: 100px;
  width: 100px;
  opacity: 0.6;
}

span{
  font-family: 'Montserrat', sans-serif;
}

span.nav{
  color: white;
  font-size: 36px;
}




